<div class="card">
    <h2><%= @year %>年<%= @month %>月の良かったこと</h2>
    
    <% if @good_memories && @good_memories.length > 0 %>
        <% @good_memories.each do |memory| %>
            <div class="record">
                <div class="date"><%= memory.date.strftime("%m月%d日") %></div>
                <div class="mood-display">
                    <span class="mood-emoji"><%= memory.mood_emoji %></span>
                    <span class="mood-text"><%= memory.mood_text %></span>
                </div>
                <div><%= memory.content %></div>
            </div>
        <% end %>
    <% else %>
        <p>この月の記録はまだありません。</p>
    <% end %>
</div>

<div class="nav-links">
    <%= link_to "← ホームに戻る", root_path %>
</div> 